body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


.game-container {
    width: 440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.game-arena {
    width: 420px;
    height: 420px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 5px;
    box-sizing: border-box;
}

.header {
    width: 100%;
    text-align: center;
}

.header_title {
    margin: 0;
    font-size: 24px;
    color: #333;
}



.game-cell:hover {
    background-color: rgba(88, 228, 197, 0.253);
    transform: scale(1.02);
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    transition: all 0.2s ease;
}


.game-cell {
    width: 100%;
    height: 100%;
    background-color: #e0e0e0;
    border: 1px solid #999;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}


.enemy, .enemy-death {
    width: 80%;
    height: 80%;
    object-fit: contain;
}